@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap');

@layer base {

    html,
    body,
    div {
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
        /* direction: rtl; */
    }

    html,
    body,
    #root {
        height: 100%;
        width: 100%;
    }

    .sidebar * {
        direction: rtl;
    }

    .sidebar>* {
        direction: rtl;
    }
}